In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv("jum_train.csv")
train_df.head()

,Cust_id,id_purchase,CAT I,CAT II,revenue ( $ Algérien),city,platform,gender,Order date,month
0,153926,5774DZ8526,Accessoire femmes,Sacs,55251.0,A,Web,male,2022-07-19,7
1,153929,4224DZ8573,Accessoire femmes,Lunettes de soleil,444479.0,A,Web,male,2022-07-19,7
2,153935,7178DZ8657,Accessoire femmes,Lunettes de soleil,242911.0,A,Web,female,2022-07-19,7
3,153935,3598DZ8583,Accessoire femmes,Lunettes de soleil,267374.0,A,Web,female,2022-07-20,7
4,153950,5142DZ8612,Accessoire femmes,Sacs,102590.0,A,Web,female,2022-07-19,7

In [3]:
test_df = pd.read_csv("jum_test.csv")
test_df.head()

,Cust_id,id_purchase,CAT I,CAT II,revenue ( $ Algérien),city,platform,gender,Order date,month
0,153925,9137DZ8685,Accessoire femmes,Lunettes de soleil,181672.0,A,Web,male,2022-07-19,7
1,153925,3290DZ8514,Accessoire femmes,Lunettes de soleil,482394.0,A,Web,male,2022-07-19,7
2,15403,5431DZ8470,Accessoire femmes,Lunettes de soleil,116073.0,A,Web,male,2022-07-20,7
3,15403,6262DZ8700,Accessoire femmes,Lunettes de soleil,183709.0,A,Web,male,2022-07-20,7
4,15403,8904DZ8715,Accessoire femmes,Lunettes de soleil,273851.0,A,Web,male,2022-07-21,7

In [4]:
data = pd.concat([train_df,test_df])

In [5]:
data.reset_index(drop = True)

,Cust_id,id_purchase,CAT I,CAT II,revenue ( $ Algérien),city,platform,gender,Order date,month
0,153926,5774DZ8526,Accessoire femmes,Sacs,55251.0,A,Web,male,2022-07-19,7
1,153929,4224DZ8573,Accessoire femmes,Lunettes de soleil,444479.0,A,Web,male,2022-07-19,7
2,153935,7178DZ8657,Accessoire femmes,Lunettes de soleil,242911.0,A,Web,female,2022-07-19,7
3,153935,3598DZ8583,Accessoire femmes,Lunettes de soleil,267374.0,A,Web,female,2022-07-20,7
4,153950,5142DZ8612,Accessoire femmes,Sacs,102590.0,A,Web,female,2022-07-19,7
...,...,...,...,...,...,...,...,...,...,...
32844,328130,6064DZ8670,Vêtements pour hommes,Polos,123587.0,A,App,female,2022-08-30,8
32845,328150,1376DZ8574,Vêtements pour hommes,Polos,442622.0,A,App,female,2022-08-30,8
32846,328178,6095DZ8704,Vêtements pour hommes,Polos,427203.0,B,App,female,2022-08-30,8
32847,328263,0364DZ8655,Vêtements pour hommes,Polos,323462.0,A,App,male,2022-09-04,9
32848,153925,7999DZ8632,Accessoire femmes,Sacs,116522.0,A,App,male,2022-09-02,9

In [6]:
data.drop('id_purchase', axis = 1, inplace = True)
data.drop('Order date', axis = 1, inplace = True)

In [7]:
sorted_data = data.sort_values(by = "Cust_id")
sorted_data

,Cust_id,CAT I,CAT II,revenue ( $ Algérien),city,platform,gender,month
597,16,Accessoires hommes,Chaussettes,190594.0,A,Web,female,7
596,16,Accessoires hommes,Chaussettes,102636.0,A,Web,female,8
595,16,Accessoires hommes,Chaussettes,85531.0,A,Web,female,8
728,159,Accessoires hommes,Chaussettes,387192.0,A,Web,female,8
1775,170,Accessoires unisexes,Sacs,442711.0,B,Web,male,8
...,...,...,...,...,...,...,...,...
21908,328259,Vêtements pour hommes,Polos,314234.0,A,Web,male,9
21909,328259,Vêtements pour hommes,Vêtements de cérémonie,470226.0,A,Web,male,8
21912,328261,Vêtements pour hommes,Vêtements de cérémonie,138661.0,A,Web,male,9
21911,328261,Vêtements pour hommes,Polos,56021.0,A,Web,male,10
4477,328263,Vêtements pour hommes,Polos,323462.0,A,App,male,9

In [8]:
sorted_data['platform'].value_counts()

Web     25253
App      7596
Name: platform, dtype: int64

In [9]:
# sorted_data['city'] = sorted_data['city'].replace(['A','B','C'],[1,2,3])
# sorted_data['platform'] = sorted_data['platform'].replace(['Web','App'],[1,2])
# sorted_data['gender'] = sorted_data['gender'].replace(['female','male'],[1,2])
# sorted_data

In [10]:
#orted_data.drop('CAT I', axis = 1, inplace = True)
sorted_data['Cust_id'].value_counts().shape

(13105,)

In [11]:
pivot_df = pd.pivot_table(sorted_data[['Cust_id','CAT II']], index='Cust_id', columns='CAT II', aggfunc=len, fill_value=0)
pivot_df

CAT II,Accessoires,Autre,Autres appareils photo et accessoires,Bagages et accessoires de voyage,Baskets,Bottes,Bébé,Carrosserie,Chaussettes,Chaussures,...,Sacs,Shorts,Smartphone,"Soins des mains, des pieds et des ongles",Talons,Thé et café,Univers du Cigare,Vêtements de cérémonie,Vêtements de nuit,iPod et lecteurs MP3
Cust_id,,,,,,,,,,,,,,,,,,,,,
16,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,0
159,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
170,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
229,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
230,0,0,0,0,0,0,0,3,0,0,...,0,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328256,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
328258,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
328259,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0
328261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
328263,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
# cust_revenue = sorted_data[['Cust_id','revenue ( $ Algérien)']].groupby('Cust_id').sum()
# cust_revenue

In [13]:
# cust_infos = sorted_data[['Cust_id','city','gender']].groupby('Cust_id').max()
# cust_infos

In [14]:
# pivot_df['Revenue'] = cust_revenue['revenue ( $ Algérien)'].values
# pivot_df

In [15]:
# pivot_df['city'] = cust_infos['city'].values
# pivot_df['gender'] = cust_infos['gender'].values
# pivot_df

## Clustering

In [16]:
from sklearn.cluster import KMeans
import pandas as pd

In [17]:
kmeans =  KMeans(n_clusters = 50, random_state = 123)

kmeans.fit(pivot_df)

KMeans(n_clusters=50, random_state=123)

In [18]:
pd.Series(kmeans.labels_).value_counts()

29    3051
45    1026
4     1012
47     949
28     947
0      840
21     802
8      733
13     663
23     506
30     305
11     278
2      259
40     200
31     185
49     165
26     146
3      135
35     121
37     106
46      85
42      81
32      70
19      68
34      54
6       48
10      39
41      38
24      34
18      25
43      21
33      19
1       18
39      16
9        8
48       8
16       7
14       7
38       6
17       5
20       5
36       3
7        2
22       2
5        2
15       1
25       1
27       1
44       1
12       1
dtype: int64

In [19]:
# Sum_of_squared_distances = []
# K = range(2,100)
# for k in K:
#     kmeans = KMeans(n_clusters = k)
#     kmeans.fit(pivot_df)
#     Sum_of_squared_distances.append(kmeans.inertia_)

In [20]:
# import matplotlib.pyplot as plt

In [21]:
# fig = plt.figure(figsize = (10,10))
# plt.plot(K, Sum_of_squared_distances, c = "black")
# plt.scatter(K, Sum_of_squared_distances, s = 120, marker = "+", c = "cyan")
# plt.xlabel("K value")
# plt.ylabel("Sum of Squared Error (SSE)")
# plt.show()

In [22]:
kmeans =  KMeans(n_clusters = 100, random_state = 123)

kmeans.fit(pivot_df)

KMeans(n_clusters=100, random_state=123)

In [23]:
pd.Series(kmeans.labels_).value_counts()

59    934
36    920
0     858
76    646
42    631
     ...
82      1
6       1
99      1
17      1
3       1
Length: 100, dtype: int64

In [24]:
clust_labels = kmeans.labels_

### DBSCAN

In [25]:
# from sklearn.cluster import DBSCAN

In [26]:
# clustering = DBSCAN(eps = 0.5, min_samples = 10).fit(pivot_df)
# clust_labels = clustering.labels_

In [27]:
# pd.Series(clust_labels).value_counts()

In [28]:
# count=[]
# for i in range(100):
#     count.append(pd.Series(kmeans.labels_).value_counts()[i])

In [29]:
# counter = np.array(count)
# print(counter)

In [30]:
pivot_df['class'] = clust_labels
pivot_df

CAT II,Accessoires,Autre,Autres appareils photo et accessoires,Bagages et accessoires de voyage,Baskets,Bottes,Bébé,Carrosserie,Chaussettes,Chaussures,...,Shorts,Smartphone,"Soins des mains, des pieds et des ongles",Talons,Thé et café,Univers du Cigare,Vêtements de cérémonie,Vêtements de nuit,iPod et lecteurs MP3,class
Cust_id,,,,,,,,,,,,,,,,,,,,,
16,0,0,0,0,0,0,0,0,3,0,...,0,0,0,0,0,0,0,0,0,95
159,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,30
170,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,38
229,0,0,0,0,0,0,0,3,0,0,...,0,0,0,0,0,0,0,0,0,24
230,0,0,0,0,0,0,0,3,0,0,...,0,0,1,0,0,0,0,0,0,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
328256,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12
328258,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,71
328259,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2,0,0,63
328261,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,71
328263,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,62

In [31]:
pivot_df.sort_values(by = 'class', inplace = True)
pivot_df

CAT II,Accessoires,Autre,Autres appareils photo et accessoires,Bagages et accessoires de voyage,Baskets,Bottes,Bébé,Carrosserie,Chaussettes,Chaussures,...,Shorts,Smartphone,"Soins des mains, des pieds et des ongles",Talons,Thé et café,Univers du Cigare,Vêtements de cérémonie,Vêtements de nuit,iPod et lecteurs MP3,class
Cust_id,,,,,,,,,,,,,,,,,,,,,
229922,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
222889,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
222910,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
222967,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
222968,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245588,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,98
245490,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,98
245282,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,98
245927,0,0,0,0,0,3,0,0,0,0,...,0,0,0,0,0,0,0,0,0,98
194690,6,0,14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,99

In [32]:
costumer_class = pivot_df['class']
costumer_class

Cust_id
229922     0
222889     0
222910     0
222967     0
222968     0
          ..
245588    98
245490    98
245282    98
245927    98
194690    99
Name: class, Length: 13105, dtype: int32

In [33]:
product_class = pivot_df.reset_index(drop = True)
product_class.head(20)

CAT II,Accessoires,Autre,Autres appareils photo et accessoires,Bagages et accessoires de voyage,Baskets,Bottes,Bébé,Carrosserie,Chaussettes,Chaussures,...,Shorts,Smartphone,"Soins des mains, des pieds et des ongles",Talons,Thé et café,Univers du Cigare,Vêtements de cérémonie,Vêtements de nuit,iPod et lecteurs MP3,class
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
class_df = product_class.groupby('class').mean()
class_df.head()

CAT II,Accessoires,Autre,Autres appareils photo et accessoires,Bagages et accessoires de voyage,Baskets,Bottes,Bébé,Carrosserie,Chaussettes,Chaussures,...,Sacs,Shorts,Smartphone,"Soins des mains, des pieds et des ongles",Talons,Thé et café,Univers du Cigare,Vêtements de cérémonie,Vêtements de nuit,iPod et lecteurs MP3
class,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.251748,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,1.333333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,32.0,0.0,0.0
4,0.0,0.0,0.0,0.0,15.6,0.0,0.0,0.000000,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
# class_df['num_clients']=counter

In [36]:
# class_df.head()

In [37]:
solution_dic_id = []
solution_dic_cat = []

In [38]:
# class_df['num_clients'].loc[0]

In [39]:
# class_df.columns

In [40]:
# class_df['num_clients'].loc[costumer_class[costumer]]

In [41]:
for costumer in costumer_class.index:
    class_cost = costumer_class[costumer]
    for product in class_df.columns:
        solution_dic_id.append("_".join([str(costumer),product]))
        if class_df.loc[class_cost][product] > 0.07:
            solution_dic_cat.append('buy')
        else:
            solution_dic_cat.append('not buy')
            
#         if class_df.loc[class_cost][product] > class_df['num_clients'].loc[class_cost]/10.0:
#             solution_dic_cat.append('buy')
#         else:
#             solution_dic_cat.append('not buy')

In [42]:
len(solution_dic_id)

615935

In [43]:
len(solution_dic_cat)

615935

In [44]:
solution_df = pd.DataFrame({'id':solution_dic_id,'cat':solution_dic_cat})
solution_df.head()

                                             id      cat
0                            229922_Accessoires  not buy
1                                  229922_Autre  not buy
2  229922_Autres appareils photo et accessoires  not buy
3       229922_Bagages et accessoires de voyage  not buy
4                                229922_Baskets  not buy

In [45]:
sample = pd.read_csv('sample_submission.csv')
sample.head(20)

                                         id  cat
0                        209886_Carrosserie  buy
1                               318591_Sacs  buy
2                              220722_Polos  buy
3                320001_Outils de nettoyage  buy
4                             275099_Talons  buy
5              323136_Cuisine et pâtisserie  buy
6                              189805_Polos  buy
7               322226_iPod et lecteurs MP3  buy
8                            305493_Cuisine  buy
9                         293206_Smartphone  buy
10  300819_Bagages et accessoires de voyage  buy
11                           311276_Cuisine  buy
12                             303657_Robes  buy
13                       319843_Accessoires  buy
14                             326250_Polos  buy
15                        164528_Smartphone  buy
16     273672_Grils et cuisine en plein air  buy
17  302125_Bagages et accessoires de voyage  buy
18                 191964_Vêtements de nuit  buy
19                       238593_Carrosserie  buy

In [46]:
subm = solution_df.loc[solution_df['id'].isin(sample['id'].values)]
subm.reset_index(drop = True, inplace = True)

In [47]:
subm.head(20)

                                                 id      cat
0                                222967_Carrosserie      buy
1                                223030_Carrosserie      buy
2                                 223538_Chaussures  not buy
3               223538_Livres en langues étrangères  not buy
4                                      223538_Robes  not buy
5                                223767_Carrosserie      buy
6   221493_Soins des mains, des pieds et des ongles  not buy
7                                   221834_Consoles  not buy
8                                       221834_Lait  not buy
9                        221834_Papier et plastique  not buy
10                     222003_Cuisine et pâtisserie  not buy
11                       222003_Détergent en poudre  not buy
12                               222003_Fournitures  not buy
13                               222060_Carrosserie      buy
14  222060_Soins des mains, des pieds et des ongles  not buy
15                               222318_Carrosserie      buy
16                               222363_Carrosserie      buy
17  222363_Soins des mains, des pieds et des ongles  not buy
18  226266_Soins des mains, des pieds et des ongles  not buy
19  226529_Soins des mains, des pieds et des ongles  not buy

In [48]:
subm.set_index('id', inplace = True)

In [49]:
subm.shape

(2839, 1)

In [50]:
subm.to_csv('jumia_24th_submission.csv')